
<!-- component -->
<div class="my-5">
    <!-- Contenedor principal con fondo azul -->
    <div
      class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-blue-500 border-yellow-500 rounded-md">
  
      <!-- Botón Volver -->
      <button (click)="volver()"
        class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded-md text-white text-sm sm:text-lg shadow-md">
        Volver
      </button>
  
      <div class="my-3">
        <!-- Título del formulario -->
        <h1 class="text-center text-2xl sm:text-3xl font-bold text-gray-900">Agregar Parametro</h1>
        <form [formGroup]="fromRegistro" (ngSubmit)="registrarParametro()">
  
          <!-- Campo para Usuario -->
          <div class="my-2">
            <label for="usuario" class="text-sm sm:text-md font-bold text-gray-700">Nombre del Parametro</label>
            <input type="text" id="usuario" formControlName="nombreParame"
              class="block w-full border border-yellow-500 outline-yellow-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white text-gray-900"
              placeholder="Ingrese el nombre de usuario">
          </div>
  
          <!-- Campo para Nombre Completo -->
          <div class="my-2">
            <label for="nombre_usuario" class="text-sm sm:text-md font-bold text-gray-700">Valor del Parametro</label>
            <input type="text" id="nombre_usuario" formControlName="ValorParame"
              class="block w-full border border-yellow-500 outline-yellow-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white text-gray-900"
              placeholder="Ingrese el nombre completo">
          </div>
  
  
          <!-- Botón Guardar -->
          <button  type="submit" 
            class="px-4 py-1 bg-emerald-500 hover:bg-emerald-600 rounded-md text-black text-sm sm:text-lg shadow-md disabled:bg-gray-400 disabled:cursor-not-allowed">
            Guardar
          </button>
  
        </form>
      </div>
    </div>
  </div>