<div class="my-5">
  <div
    class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-blue-500 border-yellow-500 rounded-md">
    
    <button (click)="volver()" class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded-md text-white font-bold mb-4">
      Volver
    </button>

    <h2 class="text-white text-2xl font-bold mb-4">Actualizar Estructura de Archivos</h2>

    <!-- DEPARTAMENTO -->
    <label class="text-yellow-400 font-bold">Departamento</label>
    <select
      class="w-full mb-4 p-2 rounded-md"
      [(ngModel)]="idDepartamento"
      name="departamento"
      [disabled]="!departamentosCargados">
      <option value="" disabled selected>Seleccione un departamento</option>
      <option *ngFor="let dept of Listado_Departamento" [ngValue]="dept.ID_DEPARTAMENTO">
        {{ dept.NOMBRE }}
      </option>
    </select>

    <!-- NOMBRE -->
    <label class="text-yellow-400 font-bold">Nombre</label>
    <input
      type="text"
      class="w-full mb-4 p-2 rounded-md"
      [(ngModel)]="nombre"
      name="nombre"
    />

    <!-- UBICACION -->
    <label class="text-yellow-400 font-bold">Ubicación</label>
    <input
      type="text"
      class="w-full mb-6 p-2 rounded-md"
      [(ngModel)]="ubicacion"
      name="ubicacion"
    />

    <!-- BOTÓN ACTUALIZAR -->
    <button
      (click)="actualizarEstructura()"
      class="w-full bg-yellow-400 hover:bg-yellow-500 text-black py-2 px-4 rounded-md font-bold">
      Actualizar
    </button>
  </div>
</div>
