<div class="my-5">
  <div
    class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-blue-500 border-yellow-500 rounded-md">

    <button (click)="volver()"
      class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded-md text-white text-sm sm:text-lg shadow-md">
      Volver
    </button>

    <div class="my-3">
      <h1 class="text-center text-2xl sm:text-3xl font-bold text-white">Actualizar Característica de Documento</h1>
      <form [formGroup]="formActualizar" (ngSubmit)="actualizar()">

        <!-- Tipo de documento (Deshabilitado) -->
        <div class="my-2">
          <label for="IDTipoDocum" class="text-sm font-bold text-gray-700">Tipo de documento</label>
          <input type="text" id="IDTipoDocum" formControlName="tipo_documento"
            class="block w-full border border-yellow-500 px-2 py-2 rounded-md bg-gray-300 text-gray-900" >
        </div>

      <!-- Característica (editable con lista) -->
<div class="my-2">
  <label for="IDCaracteristica" class="text-sm font-bold text-gray-700">Característica</label>
  <select id="IDCaracteristica" formControlName="caracteristica"
    class="block w-full border border-yellow-500 px-2 py-2 rounded-md bg-white text-gray-900">
    <option value="">Seleccione una característica</option>
    <option *ngFor="let cara of listaCaracteristica" [value]="cara.ID_CARACTERISTICA">
      {{ cara.CARACTERISTICA }}
    </option>
  </select>
</div>



        <button type="submit" [disabled]="formActualizar.invalid"
          class="px-4 py-1 bg-emerald-500 hover:bg-emerald-600 rounded-md text-black text-sm sm:text-lg shadow-md disabled:bg-gray-400 disabled:cursor-not-allowed">
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>
