<!-- Contenedor principal -->
<div class="my-5">
    <div class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-yellow-500 border-blue-500 rounded-md">
      
      <!-- Botón Volver -->
      <button (click)="route.navigate(['/recuperarContra'])" class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded-md text-white text-sm sm:text-lg shadow-md">
        Volver
      </button>
  
      <div class="my-3">
        <!-- Título -->
        <h1 class="text-center text-2xl sm:text-3xl font-bold text-gray-900">Restablecer Contraseña</h1>
  
        <!-- Formulario -->
        <form [formGroup]="fromResetContrasena" (ngSubmit)="ResetContrasena()">
  
          <!-- Campo para Código de Verificación -->
          <div class="my-4">
            <label for="codigo" class="text-sm sm:text-md font-bold text-gray-700">Código de Verificación</label>
            <input type="text" id="codigo" formControlName="codigo" class="block w-full border border-blue-500 outline-blue-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white text-gray-900" placeholder="Ingrese el código de verificación">
            <div *ngIf="fromResetContrasena.get('codigo')?.invalid && fromResetContrasena.get('codigo')?.touched" class="text-red-600 text-sm">
              El código es obligatorio.
            </div>
          </div>
  
          <!-- Campo para Nueva Contraseña -->
          <div class="my-4">
            <label for="ContraNueva" class="text-sm sm:text-md font-bold text-gray-700">Nueva Contraseña</label>
            <input type="password" id="ContraNueva" formControlName="ContraNueva" class="block w-full border border-blue-500 outline-blue-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white text-gray-900" placeholder="Ingrese la nueva contraseña">
            <div *ngIf="fromResetContrasena.get('ContraNueva')?.invalid && fromResetContrasena.get('ContraNueva')?.touched" class="text-red-600 text-sm">
              La nueva contraseña es obligatoria.
            </div>
          </div>
  
          <!-- Mostrar el correo relacionado -->
          <div class="my-4 text-gray-700 font-bold">
            Restableciendo la contraseña para: <span class="text-blue-700">{{ correo }}</span>
          </div>
  
          <!-- Botón para restablecer contraseña -->
          <button type="submit" [disabled]="fromResetContrasena.invalid" class="px-4 py-1 bg-emerald-500 hover:bg-emerald-600 rounded-md text-black text-sm sm:text-lg shadow-md disabled:bg-gray-400 disabled:cursor-not-allowed">
            Restablecer Contraseña
          </button>
  
        </form>
      </div>
    </div>
  </div>
  