<div *ngIf="getPermiso('consulta')">
  <!-- Buscador -->
  <div class="mb-4 text-center">
    <button *ngIf="getPermiso('insercion')" (click)="registro()"
      class="bg-blue-500 hover:bg-yellow-500 text-white font-bold py-1 px-20 border border-blue-500 rounded block mx-auto mb-4">
      Registrar Objeto
    </button>
    <div class="relative w-80 mx-auto flex justify-center">
      <input type="text" [(ngModel)]="searchQuery" (input)="filterObjetos()"
        placeholder="Buscar Objeto por Nombre, Tipo o Descripción"
        class="w-full p-2 pl-10 border border-yellow-500 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <svg class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 18a7.5 7.5 0 006.15-3.35z" />
      </svg>
    </div>
  </div>

  <!-- Tabla de Objetos -->
  <table class="min-w-full border-collapse block md:table">
    <thead class="block md:table-header-group">
      <tr
        class="border border-yellow-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative">
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">ID
        </th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Tipo de Objeto</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Objeto</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Descripción</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Fecha Creación</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Creado Por</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Fecha Modificación</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Modificado Por</th>
        <th class="bg-blue-600 p-2 text-white font-bold md:border md:border-yellow-500 text-left block md:table-cell">
          Acciones</th>
      </tr>
    </thead>

    <tbody class="block md:table-row-group">
      <!-- Recorrido con *ngFor para mostrar los objetos paginados -->
      <tr *ngFor="let objeto of paginatedObjetos; let i = index"
        [ngClass]="{ 'bg-yellow-100': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
        class="border border-yellow-500 md:border-none block md:table-row">
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.ID_OBJETO }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.TIPO_OBJETO }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.OBJETO }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.DESCRIPCION }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.FECHA_CREACION }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.CREADO_POR }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.FECHA_MODIFICACION }}
        </td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">{{ objeto.MODIFICADO_POR }}</td>
        <td class="p-2 md:border md:border-yellow-500 text-left block md:table-cell">
          <div class="flex gap-2 items-center">
            <!-- Botón Editar -->
            <button  *ngIf="getPermiso('actualizacion')" (click)="editarObjeto(objeto)"
              class="bg-blue-500 hover:bg-blue-600 text-white p-2 border border-blue-500 rounded transition duration-300"
              aria-label="Editar Permiso" title="Editar Permiso">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828zM4 14v2h2l7.293-7.293-2-2L4 14z" />
              </svg>
            </button>

            <!-- Botón Eliminar -->
            <button *ngIf="getPermiso('eliminacion')" (click)="eliminar(objeto.ID_OBJETO)"
              class="bg-red-500 hover:bg-red-600 text-white p-2 border border-red-500 rounded transition duration-300"
              aria-label="Eliminar Permiso" title="Eliminar Permiso">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </div>
        </td>

      </tr>

      <!-- Mensaje si no hay objetos -->
      <tr *ngIf="filteredObjetos.length === 0">
        <td colspan="9" class="p-4 text-center text-gray-600">No se encontraron objetos.</td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de Paginación -->
  <div class="flex justify-center mt-4 space-x-2">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 1"
      class="px-3 py-1 bg-blue-500 hover:bg-yellow-500 text-white font-bold rounded disabled:opacity-50">Primera</button>
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1"
      class="px-3 py-1 bg-blue-500 hover:bg-yellow-500 text-white font-bold rounded disabled:opacity-50">Anterior</button>
    <span class="px-3 py-1">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages"
      class="px-3 py-1 bg-blue-500 hover:bg-yellow-500 text-white font-bold rounded disabled:opacity-50">Siguiente</button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages"
      class="px-3 py-1 bg-blue-500 hover:bg-yellow-500 text-white font-bold rounded disabled:opacity-50">Última</button>
  </div>
</div>